<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}"/>

    <link type="image/x-icon" rel="icon" href="favicon.ico" />
    <script type="text/javascript" charset="UTF-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>
<body class="{body.class}">
    hello world
</body>
</html>